  <!DOCTYPE html>
  <html>
  <body>

  <video width="640" height="480" controls id="player" style="clear:both;display:block;margin:auto">
    <source src="../../video/design/vid_1.mp4"  type="video/mp4">
    Your browser does not support the video tag.
  </video>
  </body>


  
  <script type="text/javascript">
	  window.addEventListener('message', function(event) { 
			var cat=event.data[0]
			var num=event.data[1]	
			console.log(num)
				// IMPORTANT: Check the origin of the data! 
			if (event.origin=="http://localhost") { 
					document.getElementById('player').src="../../video/"+cat+"/vid_"+num.toString()+".mp4"	
					console.log("../../video/"+cat+"/vid_"+num.toString()+".mp4")
				} else { 
				   return; 
				} 
			});             
  </script>
  </html>
