  <!DOCTYPE html>
  <html>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <body>
  <div id="videoWrap">
  <video width="640" height="480" controls id="player" src="../../video/design/vid_1.mp4" style="clear:both;display:block;margin:auto">
  </video>
  </div>
  </body>


  
  <script type="text/javascript">
	  window.addEventListener('message', function(event) { 
			var cat=event.data[0]
			var num=event.data[1]	
			console.log(event.data)
				// IMPORTANT: Check the origin of the data! 
			if (event.origin=="http://localhost") { 
					var newfile = "../../video/"+cat+"/vid_"+num.toString()+".mp4";
					var videoWrap = document.getElementById('player');

					player.pause();
					player.src =newfile;
					player.load();
					player.play();
					
					
				} else { 
				   return; 
				} 
			});             
  </script>
  </html>
